<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.caojian.myworkapp">

    <uses-sdk tools:overrideLibrary="com.quicklib.android.multidex" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用于写入对象存储BOS数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 用于加快GPS首次定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/LunchAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.activity.PhoneCheckActivity"
            android:theme="@style/FullAppTheme" />
        <activity
            android:name=".ui.activity.PasswordActivity"
            android:theme="@style/AppMainTheme" />
        <activity
            android:name=".ui.activity.IntroduceActivity"
            android:theme="@style/FullAppTheme" />
        <activity
            android:name=".ui.activity.UpdateActivity"
            android:launchMode="singleTop"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="autMNcrfbLlA0CKAcjzC585uRInGNxTz" /> <!-- //key:开发者申请的Key -->
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote"></service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".ui.activity.FriendSelectActivity" />
        <activity android:name=".ui.activity.FriendAPPlyRecordActivity" />
        <activity android:name=".ui.activity.SearchByPhoneActivity" />
        <activity android:name=".ui.activity.SearchByContactActivity" />
        <activity android:name=".ui.activity.FriendDetailActivity" />
        <activity android:name=".ui.activity.LocationDetailActivity" />
        <activity android:name=".ui.activity.FriendGroupActivity" />
        <activity android:name=".ui.activity.GroupCreateActivity" />
        <activity android:name=".ui.activity.GroupDetailActivity" />

        <service
            android:name=".services.UpdateLocationService"
            android:exported="false" />

        <activity android:name=".ui.activity.IntegralActivity" />
        <activity android:name=".ui.activity.IntegralDetailActivity" />
        <activity android:name=".ui.activity.TiXianActivity" />
        <activity android:name=".ui.activity.BuyVipActivity" />
        <activity android:name=".ui.activity.PersonalActivity" />
        <activity android:name=".ui.activity.RailSelectActivity" />
        <activity android:name=".ui.activity.SelectPointActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.caojian.myworkapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".services.DownLoadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activity.AboutAppActivity" />

        <!-- 如果开启测试模式，需要添加（上线版本不需要） -->
        <activity
            android:name="cn.beecloud.BCMockPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 对于微信APP支付，需要添加 -->
        <activity
            android:name="cn.beecloud.BCWechatPaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="cn.beecloud.BCWechatPaymentActivity" />
        <!-- 对于支付宝，需要添加 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.WebViewDetailActivity" />
        <activity android:name=".ui.activity.TiXianDetailActivity" />
        <activity android:name=".ui.activity.BuyZengZhiActivity" />
        <activity android:name=".ui.activity.GiveActivity" />
        <activity android:name=".ui.activity.RechargeInfoDetailActivity" />
    </application>

</manifest>