<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caojian.myworkapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".mvp.MyMvpActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/LunchAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.login.LoginActivity" />
        <activity
            android:name=".modules.login.check.PhoneCheckActivity"
            android:theme="@style/FullAppTheme" />
        <activity android:name=".modules.login.password.PasswordActivity" />
        <activity
            android:name=".IntroduceActivity"
            android:theme="@style/FullAppTheme" />
        <activity
            android:name=".modules.update.UpdateActivity"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".modules.login.register.RegisterActivity"
            android:label="@string/title_activity_register" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="autMNcrfbLlA0CKAcjzC585uRInGNxTz" /> <!-- //key:开发者申请的Key -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".modules.location.FriendSelectActivity" />

        <service
            android:name=".services.UpdateXYService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".modules.friend.activitys.FriendMessageActivity" />
        <activity android:name=".modules.friend.activitys.SearchByPhoneActivity" />
        <activity android:name=".modules.friend.activitys.SearchByContactActivity" />
        <activity android:name=".modules.friend.activitys.FriendDetailActivity" />
        <activity android:name=".modules.location.LocationDetailActivity" />
        <activity android:name=".modules.friend.group.FriendGroupActivity" />
        <activity android:name=".modules.friend.activitys.GroupCreateActivity" />
        <activity android:name=".modules.friend.activitys.GroupDetailActivity" />

        <service
            android:name=".services.UpdateLocationService"
            android:exported="false" />

        <activity android:name=".modules.integral.IntegralActivity" />
        <activity android:name=".modules.integral.IntegralDetailActivity" />
        <activity android:name=".modules.integral.TiXianActivity" />
        <activity android:name=".modules.buy.BuyVipActivity" />
        <activity android:name=".modules.personal.PersonalActivity" />
        <activity android:name=".modules.rail.RailSelectActivity" />
        <activity android:name=".modules.rail.SelectPointActivity">

        </activity>
    </application>

</manifest>